:root {
  --black: #000;
  --darkblue: #1363df;
  --lightblue: #47b5ff;
  --skye: #dff6ff;
  --white: #fff;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--black);
}
ul {
  list-style-type: none;
}
header ul {
  display: grid;
  grid-template-columns: 78px 94px 100px;
  gap: 10px;
  justify-content: right;
  margin: 0;
}
header ul li {
  margin: 36px 20px;
}
nav {
  background: var(--black);
  position: absolute;
  right: 0;
  top: 100px;
}

nav a {
  color: var(--white);
  font-size: 26px;
}
header {
  background-color: var(--black);
  height: 100px;
  margin-bottom: 30px;
}

footer {
  height: 300px;
  background-color: var(--black);
}
.menu-button {
  color: var(--white);
  position: absolute;
  right: 50px;
  top: 28px;
  font-size: 40px;
}
ul.menu-choices.show {
  display: block;
}
ul.menu-choices {
  display: none;

  padding: 10px 20px;
}
/*Projects*/
ul.work {
  padding: 0;
}
ul.work li {
  margin: 20px auto;
}
.card {
  width: 80%;
}
.card-title {
  padding: 0 0 28px 0;
  text-align: center;
  background: var(--darkblue);
  color: var(--white);
  height: 50px;
  line-height: 74px;
  margin-top: -24px;
}
/*Project*/
.color {
  background-color: var(--white);
  width: 600px;
  border-radius: 10px;
  margin: 0 auto;
}
.content {
  margin: 60px 0 0 40px;
  max-width: 600px;
}
.date-schoolproject {
  display: grid;
  grid-template-columns: 136px auto;
}
li.card img {
  width: 100%;
  margin-bottom: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.description,
.technical-description {
  margin: 20px 0;
}

.button {
  background: var(--lightblue);
  color: var(--white);
  text-decoration: none;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
  height: 26px;
  line-height: 26px;
}
.buttons {
  display: grid;
  grid-template-columns: auto auto;
  margin: 50px 0;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  ul.menu-choices,
  ul.menu-choices.show {
    display: grid;
  }

  nav {
    position: inherit;
  }
  /*Projects*/
  ul.work {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .card {
    width: 220px;
  }
  .card:hover {
    opacity: 0.7;
  }
}
@media screen and (min-width: 980px) {
  .card {
    width: 300px;
  }
}
